<div class="container-fluid">
  <div class="row align-items-center text-center full-height">
   
        <div  style="display: flex; flex-direction: column; align-items: center; text-align: center; height: auto; color:aliceblue">
          <h1>Seja bem vindo ao</h1>
          <h2 style="margin-top: 2%;">Sistema de usuários</h2>
        </div>
        
          <div style="display: flex; flex-direction: row; height: 100; ">
           <div style="width: 30%; border: 3px; display: flex; flex-direction: column; color:aliceblue">
             <div >
              <h3>Usuários</h3>
              <h4 style="margin-top: 10%;">20</h4>
             </div>
           </div>
   
        <div style="width: 70%;">
           <!--style="table-layout: auto; background-color: black; width: 100%;"    class="col"-->
            <table class="table table-dark table-hover table-item text-center" >
             <thead>
              <tr>
                 <th scope="col">Função</th>
                <th scope="col">Quantidade de usuarios</th>
               </tr>
            </thead>
             <tbody>
              <tr>
                 <td>Engenheiro de FE</td>
              
                 <td>5</td>
              </tr>
               <tr>
                 <td>Engenheiro de BE</td>
                 <td>8</td>
              </tr>
               <tr>
                 <td>Analista de dados</td>
                 <td>3</td>
               </tr>
               <tr>
                  <td>Lider tecnico</td>
              
                 <td>4</td>
                </tr>
             </tbody>
            </table>
      </div> 
    </div>
  </div>
</div>
